:root {
    --rouge:#cf1717;
    --bleu:#4a6fe9;
    --bleu-foncé:#3452b4;
    --orange:#eeb90ae1;
    --noir:#110e04e1;
    --gris:#968f8f;
    --orangered:#ee4502d8;
    --white:#fff;
    


}
    
.navbar {
    font-size: 18px;
}

.text-bg-warning {
    font-size: 20px;
}
.hero-overlay {
    background: linear-gradient(to right, rgb(15, 15, 14), #0a0a09, rgb(10, 10, 10));
    color: rgb(249, 254, 255);
    justify-content: center;
    text-align: center;
    font-style: normal;
    
}

.container h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #ff5100;
    font-weight: bold;
}
.container p {
    font-size: 1.1rem;
    color: #130101;
    font-weight: 500;
    text-align: justify;
}
.container h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: blue;
    font-weight: bold;
  
}
.hero-content h1 {
    font-size: 7.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--white);
    
}
.hero-content span {
    font-size: 5.5rem;
    color: var(--orangered);
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--noir);
    font-weight: bold;
}
h2::after {
    content: "";
    display: block;
    width: 160px;
    height: 8px;
    background-color: orangered;
}
.stat-label {
    font-size: 1.2rem;
    color: var(--noir);
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.stat-number {
    font-size: 3.5rem;
    color: var(--orangered);
    font-weight: 800;
    display: block;
    text-align: center;
}
.card-title {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background: orangered;
}
.card-text {
    font-size: 1rem;
    color: var(--gris);
    font-weight: 500;
    justify-content: center;
    text-align: center;
    display: flex;
    
}
.dark {
    background-color: var(--bleu-foncé);
    color: white;
    padding: 50px 0;
    border-radius: 10px;
}
.filtres {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    
}
.filtre {
    background-color: orangered;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.filtre:hover {
    background-color: white;
    color: orangered;
    border-color: orangered;
}
.filtre-active {
    background-color: white;
    color: orangered;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 6px;
}

.services {
  padding: 60px 20px;
  background: #f5f6f7;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.icon {
  font-size: 50px;
  color: orangered;
  flex-shrink: 0;
}

.service-card h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 800;
  color: #0f1c2e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.service-card p {
  margin: 0;
  font-size: 18px;
  color: #48494b;
  line-height: 1.6;
  
}
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    
}

.visuel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: beige;
    font-size: 50px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.accordion-button {
    background-color: orangered;
    color: white;
    border-radius: 10px;
}



.logo {
  width: 80px;
}

/* Responsive */
@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}




    


